body {
  width: 100%;
  background-color: #E6E6E6;
}

.modal-content {
  width: 250px;
  height: 265px;
  margin: 165px auto 0 auto;
  background-color: #E5E5E5;
}

.avatar-selection {
  font-size: 40px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  opacity: 0.3;
  color: #2484F4;
  background-color: #E5E5E5;
}

.avatar-selection:hover {
  opacity: 1;
  color: #2484F4;
}
.avatar-selection:focus {
  color: #2484F4;
}

.selected-avatar {
  opacity: 1;
  color: #2484F4;
}

#difficulty-selection {
  margin: 10px 0 0 4px;
}

#play {
  margin-top: 20px;
}

#game {
  font-size: 0;
  width: 450px;
  height: 450px;
  margin: 100px auto 0 auto;
}

.space {
  font-size: 75px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  border: solid 1px;
  border-color: #757474;
}

.avatar {
  color: #2484F4;
}

.top {
  border-top: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.hide i {
  display: none;
}

.avatar {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@media screen and (max-width: 500px) {
  #game {
    margin: 0 0 0 -30px;
    transform: scale(0.6);
  }
  .modal-content {
    position: absolute;
    margin: 80px 0 0 60px;
    transform: scale(0.6);
  }
}